body {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
header {
    display: inline-block;
    width:300px;
    padding-right:10px;
    vertical-align: top;
}
section {
    display: inline-block;
    vertical-align: top;
    width:650px;
}

item {
    display: block;
    padding-bottom:10px;
}

name {
    display: block;
}
authors {
    display: block;
}
journal {
    display: block;
}
me {
    font-style: italic;
}

a {
    text-decoration: none;
    color: inherit;
    background-color: #eed;
}
a:hover {
    background-color: #ddb;
}

h1 {
    font-size:inherit;
    font-weight: bold;
    margin-block:0px;
    margin-bottom:1em;
    background: #e0b0ff;
}
h2 {
   font-size: inherit;
   font-weight: bold;
   background: #e8c0ff;
   margin-block:0px;
   margin-bottom:1em;
}
h3 {
   font-size: inherit;
   font-style: italic;
   font-weight: normal;
   background: #f0d0ff;
   margin-block:0px;
   margin-bottom:1em;
}
h4 {
    font-size: inherit;
    font-style: italic;
    font-weight: normal;
    background: #f8e0ff;
    margin-block:0px;
    margin-bottom:1em;
}

ul {
    padding: 0em 0em 0em 1em;
}
